# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Run testcases

on:
  push:
    branches:
      - master
      - develop
      - release/*
      - feature/*
      - hotfix/*
      - bugfix/*
      - issues/*
  pull_request:
    branches:
      - master 
      - develop

jobs:
  build:

    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]
        # windows-latest due to static image export hanging when using kaleido.
        os: [ubuntu-latest, macos-13]

    runs-on: ${{ matrix.os }}
    name: Test on ${{ matrix.os }} with Python ${{ matrix.python-version }}.

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Update system
      if: ${{ matrix.os == 'ubuntu-latest' }}
      run: |
        sudo apt-get update
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install poetry
    - name: Initialize the virtual environment.
      run: |
        poetry install --no-root --all-extras
    - name: Static checks
      run: |
        poetry run -- mypy basana
        poetry run -- flake8
    - name: Run testcases
      run: |
        poetry run pytest -vv --cov --cov-config=setup.cfg --durations=10
